@font-face
  font-family 'Open Sans'
  src url('../fonts/os.eot')
  src url('../fonts/os.eot?#iefix') format('embedded-opentype'), url('../fonts/os.woff') format('woff'), url('../fonts/os.ttf') format('truetype'), url('../fonts/os.svg#FontName') format('svg')
  font-style normal
  font-weight normal

@font-face
  font-family 'Open Sans Semibold'
  src url('../fonts/oss.eot')
  src url('../fonts/oss.eot?#iefix') format('embedded-opentype'), url('../fonts/oss.woff') format('woff'), url('../fonts/oss.ttf') format('truetype'), url('../fonts/oss.svg#FontName') format('svg')
  font-style normal
  font-weight normal

open()
  font-family: "Open Sans"
semi()
  font-family "Open Sans Semibold"

