@import "nib"
@import "lib"
@import "sty"
normalize-css();
google-font('Open+Sans:300i,400,700,800|Roboto+Slab:300');
webfont('Myriad Pro', 'MyriadPro-Regular', false, normal, normal)
webfont('Font Awesome', 'fa', false, normal, normal)
/*Спецификация*/
h1,h2,h3,h4,h5,h6
  open()
  letter-spacing 0.10em
  line-height 1.4em
ul, li
  display: block
  +sm()
    -webkit-padding-start: 0px;
.container
  margin: 0 auto
  position: relative
.over{
  overflow: hidden
}
.ve-menu-icon
  margin-bottom: 10px
.modal-content
  display: flex;
  justify-content: center;
a
  &:hover, &:active, &:focus
    text-decoration: none
    color #fff
    color #fff
#overlay
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  left: 0px;
  top: 0px;
  cursor: pointer;
#loader
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;

#thx
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -170px;
  top: 50%;
  padding: 30px;
  margin-top: -20px;

.box
  width: 370px
  text-align: center
  margin: 0 auto
.container
  position relative
::-webkit-input-placeholder {color:#a2a2a2;open();}
::-moz-placeholder          {color:#a2a2a2;open();}/* Firefox 19+ */
:-moz-placeholder           {color:#a2a2a2;open();}/* Firefox 18- */
:-ms-input-placeholder      {color:#a2a2a2;open();}
/*Первый экран*/
#one
  background: url(../img/bg.jpg) no-repeat center top;
  padding-top: 32px;
  overflow: hidden;
  +md()
    background-size: cover;
  +lg()
    background-size: contain;
#success
  @extend #one
  height: 100vh
.fa
  margin-right: 8px
  a:hover
    color #fff
.one
  &__a
    font-family: "Open Sans"
    font-weight: 800
    color: #fff
    text-transform: uppercase;
    margin-left: 30px
    font-size: 13px
    letter-spacing 0.1em
  &__menu
    display: flex
    margin-left: 20px
    +md()
      display: flex;
      justify-content: center
  &__mob
    z-index 999
  &__up
    +ps()
      display: flex !important;
      flex-direction: column;
      align-items: center;
    +xxs()
      display: flex !important;
      flex-direction: row;
      align-items: center;
      justify-content: space-between
    +xs()
      display: flex !important;
      flex-direction: row;
      align-items: center;
  &__phone
    color #fff
    padding-bottom: 5px
    font-family:"Open Sans";
    font-weight: 800
    letter-spacing 0.05em
    +ps()
      margin-top: 10px
    +xxs()
      margin-top: 13px;
    +xs()
      margin-top: 13px;
    +sm()
      margin-top: 5px;
    +md()
      margin-top: 5px;
      font-size: 14px
    +lg()
      font-size: 21px
  &__click-md
    color #fff
    padding: 11px 28px 11px 23px
    border 1px solid #fff
    border-radius 2px
    margin-left: 10px
    text-transform: uppercase;
    font-size: 11px
    margin-right: 10px
    +xxs()
      margin-left: 0
    +xs()
      margin-left: 0
    +sm()
      float: left;
      margin-right: 30px;
      padding: 7px 14px;
    +md()
      float: left;
      margin-right: 30px;
      padding: 7px 14px;
    & a:hover, & a:active, &:focus
      text-decoration: none
      color: #fff

  &__click
    color #fff
    padding: 11px 28px 11px 23px
    border 1px solid #fff
    border-radius 2px
    margin-left: 10px
    text-transform: uppercase;
    font-size: 11px
    & a:hover, & a:active, &:focus
      text-decoration: none
      color: #fff
  &__h1
    text-align: center
    text-transform: uppercase
    color: #fff
    +ps()
      margin-top 0
      margin-bottom: 10px
    +xxs()
      margin-top 20px
      margin-bottom: 20px
    +xs()
      margin-top: 102px
      margin-bottom: 62px
    +sm()
      margin-top: 102px
      margin-bottom: 62px
    +md()
      font-size: 21px
      margin: 102px 0 62px 0
    +lg()
      font-size: 35px
      margin-bottom: 73px
      margin-top: 81px;
  &__span
    border-bottom: 3px solid #fff
  &__stell
    display: flex
    align-items: center
  &__pay
    background: butn
    padding: 20px 84px
    border 1px solid butn
    border-radius 2px
    open()
    text-transform: uppercase;
    color #fff
    letter-spacing 0.1em
    +ps()
      margin-bottom: 30px
    +xxs()
      margin-bottom: 30px
    +xs()
      margin-bottom: 30px
    +sm()
      margin-bottom: 30px
    +md()
      margin-left: 15px
    +lg()
      margin-left: 0
    &:hover
      color: #fff;
  &__cat
    display: flex !important
    align-items: end;
    justify-content: space-around;
    flex-wrap: wrap;
  &__look
    padding: 19px 21px
    open()
    border 2px solid #fff
    text-transform: uppercase
    color: #fff
    border-radius 2px
    margin-left: 30px
    letter-spacing 0.1em
    &:hover
      color: #fff;
  &__roll
    margin-bottom: 60px;
    +ps()
      width: 288px
    +xxs()
      margin-top: 0
      width: 288px
    +sm()
      width: 300px;
      margin-top: -20px;
    +md()
      width: 240px
      height: 156px
      float: left;
      margin-top: -21px;
    +lg()
      width: 200px
      height: 150px
      text-align: center;
      float: right;
      margin-top: -40px;

/*Второй экран*/
#two
  overflow: hidden
  padding-left: 30px
  +ps()
    padding-left: 0
  +xxs()
    padding-left: 0
  +xs()
    padding-left: 0
  +sm()
    padding-left: 0
  +md()
    padding-left: 30px
  +lg()
    padding-left: 30px
.two

  +md()
    padding-bottom: 38px
  +lg()
    padding-bottom: 80px
  &__title
    font-size: 36px
    text-transform: uppercase;
    color title
    +ps()
      font-size: 30px
      text-align: center
    +xxs()
      font-size: 30px
      text-align: center
    +xs()
      font-size: 30px
      text-align: center
    +sm()
      text-align: center;
    +md()
      text-align: center
    +lg()
      text-align: left
      margin-top: 20px
  &__span
    border-bottom: 3px solid butn
    +sm()
      padding-bottom: 10px;
    +md()
      padding-bottom: 11px
    +lg()
      padding-bottom: 23px
  &__text
    myriad()
    font-size: 15px
    letter-spacing 0.10em
    line-height 1.6em
    +ps()
      text-align: center
    +xxs()
      text-align: center
    +xs()
      text-align: center
    +sm()
      text-align: center
      margin-top: 10px
    +md()
      margin-top: 30px
      margin-bottom: 6px
      text-align: center
    +lg()
      margin-top: 55px
      margin-bottom: 33px
      text-align: left
  &__check
    display: flex
    align-items center
    margin-bottom: 30px
    +lg()
      display: flex !important
  &__item
    margin-right: 15px
  &__est
    @extend .two__text
    margin: 0
    &-md
      text-align: left
  &__blood
    shadow1()
    +ps()
      margin: 0 auto 30px auto;
      width: 235px;
      display: flex;
    +xxs()
      margin: 0 auto 30px auto;
      width: 288px;
      display: flex;
    +xs()
      margin: 0 auto 30px auto;
      width: 288px;
      display: flex;
    +sm()
      margin: 0 auto 30px auto;
      width: 425px;
    +md()
      width: 425px
    +lg()
      margin-top: 10px
      width: 541px;
/*Третий экран*/
#three
  background: url("../img/bg_two.jpg") no-repeat center top
  +ps()
    background-size: cover;
  +xxs()
    background-size: cover;
  +xs()
    background-size: cover;
  +md()
    padding-top: 0px
    background-size: cover;
  +lg()
    margin-bottom: -50px
    padding-top: 94px
    background-size: contain;
.three
  overflow: hidden
  &__fast
    margin-top: -50px
  &__title
    text-transform: uppercase
    color: #fff
    font-size: 36px
    +ps()
      font-size: 30px
      text-align: center
    +xxs()
      font-size: 30px
      text-align: center
    +xs()
      font-size: 30px
      text-align: center
    +sm()
      text-align: center
    +md()
      text-align: center
    +lg()
      text-align: left
      margin-left: 30px
  &__slice
    border-bottom: 3px solid butn
    width: 172px
    +ps()
      margin: 0 auto 25px auto
    +xxs()
      margin: 0 auto 25px auto
    +xs()
      margin: 0 auto 25px auto
    +sm()
      margin: 0 auto 25px auto
    +md()
      margin: 0 auto
      padding-bottom: 0
    +lg()
      margin: 0
      margin-left: 30px
      padding-bottom: 10px
    &-one
      margin-bottom: 17px;
  &__box
    background: #ffffff
    +ps()
      padding: 25px 0 25px 0;
    +xxs()
      padding: 56px 0 56px 0;
    +xs()
      padding: 56px 0 56px 0;
    +md()
      width: 404px
    +lg()
      width: 400px
    &-one
      +xs()
        padding: 56px 0 65px 0;
      +sm()
        margin-right: -15px
        margin-left: -15px;
        margin-top:50px
        padding: 56px 0 65px 0;
      +md()
        margin-left: -12px;
        margin-top:50px
        padding: 88px 0 49px 0
      +lg()
        width: 402px;
        margin-top: 50px
        padding: 50px 0 87px 0
    &-two
      +xs()
        padding: 56px 0 65px 0;
      +sm()
        margin-left: -15px
        margin-top: 0
        padding: 68px 0 75px 0
      +md()
        margin-left: -15px
        margin-top: 0
        padding: 88px 0 74px 0
      +lg()
        margin-left: 0
        margin-top: 50px
        padding: 50px 0 81px 0
    &-three
      +sm()
        margin-right: -15px
        padding: 82px 0 81px 0;
      +md()
        padding: 88px 0 74px 0
      +lg()
        padding: 50px 0 88px 0
    &-four
      +sm()
        margin-left: -15px
        padding: 68px 0 69px 0;
      +md()
        margin-left: -15px
        padding: 88px 0 43px 0
      +lg()
        margin-left: 0
        padding: 50px 0 111px 0
        shadow()
    &-five
      +sm()
        margin-bottom: 5px;
        shadow3()
        margin-right: -15px
        padding: 60px 0 61px 0;
      +md()
        margin-left: 0
        padding: 88px 0 73px 0
        margin-bottom: 5px
        shadow3()
      +lg()
        padding: 50px 0 63px 0
        shadow()
  &__img
    margin-top: 50px
    +ps()
      margin-top: 0
      height: 240px;
      width: -webkit-fill-available;
    +xxs()
      margin-top: 0
      height: auto;
      width: -webkit-fill-available;
    +xs()
      margin-top: 0
      height: auto;
      width: -webkit-fill-available;
    +sm()
      margin-top: 50px
      width: 376px
      margin-left: -15px
      height: auto;
    +md()
      margin-top: 50px;
      width: 404px;
      margin-left: -15px;
      height: fit-content;
    +lg()
      margin-top: 50px
      width: auto
      margin-left: 0
      height: auto;
    &-one
      +sm()
        width: 375px
        margin-left: 0
        margin-top: 0
      +md()
        width: 399px;
        margin-top: 0px;
        margin-left: 0px;
      +lg()
        margin-top: 0
        margin-left: 0
    &-two
      +sm()
        width: auto
        margin-top: 0
      +md()
        margin-top: 0
        margin-left: -15px
      +lg()
        margin-left: 0
        margin-top: 0
        height: 330px
    &-three
      margin-top: 0
    &-four
      +sm()
        margin-right: -15px
      margin-bottom: 5px
      margin-top: 0
      shadow3()
  &__item
    font-size: 21px
    open()
    text-transform: uppercase
    text-align: center
    margin-bottom: 50px
    +sm()
      margin-bottom: 25px
    +md()
      margin-bottom: 50px
    +lg()
      margin-bottom: 50px
  &__sub
    roboto()
    letter-spacing 0.03em
    line-height 1.6em
    font-size: 15px
    font-weight: 300
    color: #665e62
    text-align: center
    padding: 0 50px
/*Четвертый экран*/
#four
  background: #fff
  margin-top: -50px
.four
  &__title
    margin-top: 116px
    @extend .three__title
    color: title
    +ps()
      font-size: 30px
      text-align: center
    +xxs()
      font-size: 30px
      text-align: center
    +xs()
      font-size: 30px
      text-align: center
  &__img
    margin-top: 60px
    margin-right: 25px
    float: left
    margin-bottom: 17px;
  &__item
    open()
    text-transform: uppercase;
    margin-top: 60px
    letter-spacing 0.03em
    line-height 1.6em
    +ps()
      font-size: 17px
    +xxs()
      font-size: 21px
    +xs()
      font-size: 21px
    +sm()
      font-size: 21px
    +md()
      font-size: 21px
    +lg()
      font-size: 21px
  &__text
    myriad()
    font-size: 14px
    letter-spacing 0.03em
    line-height 1.6em
/*Пятый экран*/
#five
  padding-bottom: 180px
  +ps()
    background: url("../img/bg3.1.jpg") no-repeat center top / cover
    padding-bottom: 20px
  +xxs()
    background: url("../img/bg3.1.jpg") no-repeat center top / cover
    padding-bottom: 50px
  +xs()
    background: url("../img/bg3.1.jpg") no-repeat center top / cover
    padding-bottom: 180px
  +sm()
    background: url("../img/bg3.1.jpg") no-repeat center top / cover
    padding-bottom: 180px
  +md()
    background: url("../img/bg3.jpg") no-repeat center top / cover
    padding-bottom: 180px
  +lg()
    background: url("../img/bg3.jpg") no-repeat center top / cover
    padding-bottom: 180px
.five
  &__title
    +sm()
      margin-top: 75px
    +md()
      @extend .four__title
      margin-top: 213px
    +lg()
      @extend .four__title
      margin-top: 213px
  &__img
    shadow1()
    +ps()
      width: 263px
    +xxs()
      width: 319px
    +xs()
      width: 368px
    +sm()
      width: 341px;
      margin-left: -53px;
    +md()
      width: 461px
      margin-top: 0
      margin-left: -16px;
    +lg()
      width: 370px;
      margin-left: 0
      margin-top: -17px
      shadow1()
  &__name
    font-size: 19px
    open()
    color: title
    margin-left: 35px
    text-transform: uppercase;
    margin-top: 23px
    +md()
      margin-top: 38px
  &__point{
    display: flex
    flex-direction column
  }
  &__box
    background: #ffffff
    +sm()
      padding-bottom: 15px
      display: flex
      justify-content: center
      flex-direction: initial;
      background: #fff
    +md()
      padding-bottom: 15px
      display: flex
      justify-content: center
      flex-direction: initial;
      background: #fff
    +lg()
      display: block
      margin-top: 67px
      background: #fff
      width: 370px;
      padding-bottom: 37px
  &__item
    margin-left: 35px
    color: #060606;
    myriad()
    font-size: 14px
    +md()
      margin-bottom: 58px
  &__price
    margin-left: 35px
    open()
    color: #324f9d
    font-size: 15px
    margin-bottom: 43px
    +md()
      margin-bottom: 33px
  &__butn
    margin-bottom: 25px
    padding: 18px 65px
    background-color: #ce172b
    border-radius 2px
    open()
    font-size: 14px
    margin-left: 35px
    color #fff
    text-transform: uppercase;
    +ps()
      width: 194px
    +xxs()
      width: 215px
    +xs()
      width: 215px
    +md()
      width 215px
  &__first
    open()
    font-size: 21px
    text-transform: uppercase;
    text-align: center
  &__track
    &-one
      margin-top: -7px
  &__gros
    myriad()
    font-size: 16px
    text-align: center
    margin-bottom: 62px
  &__xor
    float: left;
    text-align: center;
    margin-right: 8px;
    +md()
      width: 354px
    +lg()
      width: 283px;
      margin-left: 35px;
    &-one
      +sm()
        margin-left: 0
      +lg()
        margin-left: 88px
  &__step
    float: left
    margin-bottom: 50px
    margin-right: 10px
    &-one
      +ps()
        margin-bottom: 83px
      +xxs()
        margin-bottom: 58px
      +xs()
        margin-bottom: 80px
      +sm()
        margin-bottom: 80px
      +md()
        margin-bottom: 54px
      +lg()
        margin-bottom: 72px
  &__map
    text-align: left
  &__word
    open()
    font-size: 21px
    text-transform: uppercase;
  &__map
    myriad()
    font-size: 14px
    letter-spacing 0.03em
    line-height 1.6em
    &-one
      +sm()
        margin-bottom: 34px
      margin-bottom: 47px
/*Шестой экран*/
#six
  background: url("../img/bg4.png") no-repeat center top / cover
  +ps()
    margin-top: -49px
  +xxs()
    margin-top: -49px
  +xs()
    margin-top: -49px
  +sm()
    margin-top: -70px;
  +md()
    margin-top: -178px
  +lg()
    margin-top: -159px
.six
  padding-bottom: 90px
  &__title
    @extend .five__title
    color #fff
    margin-top: 100px
    text-align: center
  &__slice-two
    border-bottom: 3px solid #fff
    margin: 0 auto
  &__text
    background: #fff
    border-radius 2px
    padding 36px
    open()
    font-style: italic
    font-weight: 100
    letter-spacing 0.03em
    line-height 1.6em
    font-size: 14px
    color: #1f0f22
    margin-top: 65px
  &__come
    open()
    letter-spacing 0.03em
    line-height 1.6em
    font-size: 15px
    font-size: 13px;
    height: 65px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-bottom: 8px;
    padding-left: 34px;
    margin: 0 auto
    shadow2()
    margin-bottom: 10px
    +ps()
      width: 241px
    +xxs()
      width: 241px
    +xs()
      width: 241px
    +sm()
      width: 292px
    +md()
      width: 292px
    +lg()
      width: 292px
/*Седьмой экран*/
#seven
  margin-bottom: -6px;
.seven
  &__title
    margin: 0
    background rgba(61,62,63,0.9)
    text-align: center
    font-size: 33px
    open()
    color #fff
    text-transform: uppercase;
    padding 43px
    position: absolute;
    width: 100%
  &__box
    background #fff
    position: absolute
    top: -467px;
    width: 370px
    +sm()
      left: 45%;
    +md()
      left: 63%;
    +lg()
      left: 63%;
  &__item
    text-transform: uppercase;
    color: #212121
    open()
    font-size: 15px
    letter-spacing 0.03em
    line-height 1.6em
    padding: 15px 36px 25px 36px
  &__button
    background: butn
    margin: 0 auto
    height: 70px
    color: #fff
    text-transform: uppercase;
    open()
    font-size: 13px
    letter-spacing 0.03em
    line-height 1.6em
    border-radius 2px
    +ps()
      width: 241px
    +xxs()
      width: 241px
    +xs()
      width: 241px
    +sm()
      width: 292px
    +md()
      width: 292px
    +lg()
      width: 292px
  &__guard
    text-align: center
    text-transform: uppercase;
    myriad()
    font-size: 11px
    letter-spacing 0.03em
    line-height 1.6em
    color: butn
    margin-top: 20px
    margin-bottom: 25px
  &__span
    color butn
  &__form
    display flex
    flex-direction column
    text-align: center
  &__item
    text-align: center
/*Футер*/
#foot
  padding-top: 30px
  background #3d3e3f
  margin 0
.foot
  &__box
    background: #ffffff
    padding: 1px
  &__adress
    color #fff
    open()
    font-size: 16px
    text-align: center
    +ps()
      margin-top: 20px
    +xxs()
      margin-top: 20px
    +xs()
      margin-top: 20px
  &__logo
    margin-bottom: 20px
  &__img
    margin-top: -13px
    position: absolute
  &__copy
    display: flex;
    justify-content: space-between
    margin-left: 30px
    margin-top: 47px
    margin-bottom: 36px
    +ps()
      margin-left: 0
      flex-direction: column;
      align-items: center;
    +xxs()
      margin-left: 0
      flex-direction: column;
      align-items: center;
    +xs()
      margin-left: 0
      flex-direction: column;
      align-items: center;
    +sm()
      flex-direction row
  &__text
    myriad()
    color: #a2a3a3
    font-size: 13px
    margin-top: 0
    +sm()
      margin-top: 34px
    +md()
      margin-top: 34px;
    +lg()
      margin-top: 0
  &__phone
    open()
    font-size: 16px
    color: #fff;